h1,
h2,
h3,
h4,
h5 {
    font-family: var(--family-display);
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
}

h3,
.h3 {
    font-size: var(--step-3);
}

.project nav inclusive-disclosure h2 {
    font-size: calc(var(--step-3) * var(--fl-enhance-font-size-factor, 1));
}

h4,
footer h2,
.project nav inclusive-disclosure h3 {
    font-size: var(--step-2);
    font-weight: var(--font-weight-semibold);
}

h5 {
    font-size: var(--step-1);
}

ul:not([role="list"]),
ol:not([role="list"]) {
    padding-inline-start: 2rem;
}
