*:has(> [type="checkbox"]) {
    list-style: none;
    margin-block-end: 0.75rem;
    padding-inline-start: calc(1.875rem * var(--fl-enhance-font-size-factor, 1));
    text-indent: calc(-1.875rem * var(--fl-enhance-font-size-factor, 1));
}

[type="checkbox"] {
    appearance: none;
    block-size: calc(1.25rem * var(--fl-enhance-font-size-factor, 1));
    border-radius: 0.1875rem;
    box-shadow: inset 0 0 0 calc(0.125rem * var(--fl-enhance-font-size-factor, 1)) var(--fl-linkFgColor, var(--color-indigo-700));
    inline-size: calc(1.25rem * var(--fl-enhance-font-size-factor, 1));
    margin: 0;
    min-width: calc(1.25rem * var(--fl-enhance-font-size-factor, 1));
    outline: 1px solid transparent;
    vertical-align: middle;
}

[type="checkbox"] + label {
    color: var(--fl-linkFgColor, var(--color-indigo-700));
    font-size: var(--fl-enhance-font-size, var(--step--1));
    font-weight: var(--fl-enhance-font-weight, var(--font-weight-medium));
    margin-inline-start: calc(0.375rem * var(--fl-enhance-font-size-factor, 1));
    vertical-align: middle;
}

[type="checkbox"]:checked {
    background-color: var(--fl-bgColor, var(--color-indigo-700));
}

[type="checkbox"]:checked::after {
    background-color: var(--fl-linkFgColor, var(--color-white));
    block-size: calc(1.25rem * var(--fl-enhance-font-size-factor, 1));
    content: "";
    display: block;
    inline-size: calc(1.25rem * var(--fl-enhance-font-size-factor, 1));
    mask-image: url("/assets/images/checkMark.svg");
    mask-position: center;
    mask-repeat: no-repeat;
}

[type="checkbox"]:hover {
    background-color: transparent;
}

[type="checkbox"]:hover,
[type="checkbox"]:focus {
    box-shadow:
        inset 0 0 0 calc(0.125rem * var(--fl-enhance-font-size-factor, 1)) var(--fl-linkFgColor, var(--color-indigo-700)),
        0 0 0 0.0625rem var(--fl-bgColor, var(--color-white)),
        0 0 0 calc(0.1875rem * var(--fl-enhance-font-size-factor, 1)) var(--fl-linkFgColor, var(--color-indigo-700));
}

[type="checkbox"]:focus,
[type="checkbox"]:focus:hover {
    background-color: var(--fl-bgColor, var(--color-indigo-200));
}

[type="checkbox"]:active,
[type="checkbox"]:active:hover {
    background-color: var(--fl-linkFgColor, var(--color-indigo-200));
}

[type="checkbox"]:checked:hover,
[type="checkbox"]:checked:focus {
    background-color: var(--fl-bgColor, var(--color-indigo-700));
}

[type="checkbox"]:checked:focus {
    box-shadow:
        inset 0 0 0 calc(0.125rem * var(--fl-enhance-font-size-factor, 1)) var(--fl-linkFgColor, var(--color-indigo-700)),
        0 0 0 0.0625rem var(--fl-bgColor, var(--color-white)),
        0 0 0 calc(0.25rem * var(--fl-enhance-font-size-factor, 1)) var(--fl-linkFgColor, var(--color-indigo-700));
}

[type="checkbox"]:checked:active::after {
    background-color: var(--fl-bgColor, var(--color-indigo-700));
}
