inclusive-disclosure {
    display: block;
    min-height: 5rem;
    padding-inline: 0.5rem;
}

inclusive-disclosure [aria-expanded] {
    align-items: center;
    appearance: none;
    background-color: inherit;
    border: 0;
    box-shadow: inset 0 0.125rem 0 0 var(--fl-linkFgColor, var(--color-indigo-700));
    color: var(--fl-linkFgColor, var(--color-indigo-700));
    display: flex;
    font-family: var(--family-display);
    font-size: calc(var(--step-2) * var(--fl-enhance-font-size-factor, 1));
    font-weight: var(--fl-enhance-font-weight, var(--font-weight-semibold));
    height: 5rem;
    padding-inline-end: 0.625rem;
    position: relative;
    width: 100%;

    &::after {
        background-color: var(--fl-linkFgColor, var(--color-indigo-700));
        content: "";
        display: block;
        height: 1.125rem;
        mask-image: url('data:image/svg+xml,<svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 1L9 9L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        mask-position: center;
        mask-repeat: no-repeat;
        position: absolute;
        right: 0;
        transition: transform 0.5s ease-in-out;
        width: 1.125rem;
    }

    &:focus,
    &:hover {
        background-color: var(--fl-linkFgColor, var(--color-indigo-200));
        box-shadow:
            inset 0 0.125rem 0 0 var(--fl-linkFgColor, var(--color-indigo-700)),
            1.25rem 0 0 0 var(--fl-linkFgColor, var(--color-indigo-200)),
            -1.25rem 0 0 0 var(--fl-linkFgColor, var(--color-indigo-200));
        color: var(--fl-linkBgColor, var(--color-indigo-700));

        &::after {
            background-color: var(--fl-linkBgColor, var(--color-indigo-700));
        }
    }

    &:focus {
        outline: 1px solid transparent;
    }
}

inclusive-disclosure [aria-expanded] + * {
    display: none;
}

inclusive-disclosure [aria-expanded="true"] + * {
    display: block;
}

inclusive-disclosure [aria-expanded="true"]::after {
    transform: rotate(180deg);
}

inclusive-disclosure:focus-within {
    border-radius: 0.1875rem;
    box-shadow: inset 0 0 0 0.125rem var(--fl-linkFgColor, var(--color-indigo-700));
}

inclusive-disclosure [content] {
    margin-block-end: 2.1875rem;
    padding-block: 1em;
}

* + inclusive-disclosure {
    margin-block-start: 1.25rem;
}
