{% set filterableOptions = { projects: [], types: [], topics: [], publishers: [], language: [] } %}
{% for resource in collections['resources_' + lang] %}
    {% set filterableOptions = filterableOptions | objectArrayPush("projects", resource.data.projects) %}
    {% set filterableOptions = filterableOptions | objectArrayPush("types", resource.data.type) %}
    {% set filterableOptions = filterableOptions | objectArrayPush("topics", resource.data.topics) %}
    {% set filterableOptions = filterableOptions | objectArrayPush("publishers", resource.data.publisher) %}
    {% set filterableOptions = filterableOptions | objectArrayPush("language", resource.data.language) %}
{% endfor %}
<div id="filters" class="filters flow">
    <h3>{% __ 'filters' %}</h3>
    <div class="flow">
        {% if filterableOptions.topics | length > 1 %}
            <fieldset>
                <legend class="visually-hidden">{% __ 'topic' %}</legend>
                <inclusive-disclosure>
                    <button aria-controls="topic">{% __ 'topic' %}</button>
                    <div id="topic">
                        <ul id="filter-topic">
                            {% for topic in collections['topics_' + lang] %}
                                {% if topic.data.page.fileSlug in filterableOptions.topics %}
                                    <li>
                                        <input type="checkbox" id="{{ topic.data.page.fileSlug }}" name="topic" value="{{ topic.data.page.fileSlug }}" data-filter-key="topics"/>
                                        <label for="{{ topic.data.page.fileSlug }}">{{ topic.data.title }}</label>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </inclusive-disclosure>
            </fieldset>
        {% endif %}
        {% if filterableOptions.types | length > 1 %}
            <fieldset>
                <legend class="visually-hidden">{% __ 'type' %}</legend>
                <inclusive-disclosure>
                    <button aria-controls="type">{% __ 'type' %}</button>
                    <div id="type">
                        <ul id="filter-type">
                            {% for value in filterableOptions.types %}
                                <li>
                                    <input type="checkbox" id="{{ value }}" name="type" value="{{ value }}" data-filter-key="type"/>
                                    <label for="{{ value }}">{% __ value %}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </inclusive-disclosure>
            </fieldset>
        {% endif %}
        {% if filterableOptions.projects | length > 0 %}
            <fieldset>
                <legend class="visually-hidden">{% __ 'project' %}</legend>
                <inclusive-disclosure>
                    <button aria-controls="project">{% __ 'project' %}</button>
                    <div id="project">
                        <ul id="filter-project">
                            {% for project in collections['projects_' + lang] %}
                                {% if project.data.translationKey in filterableOptions.projects %}
                                    <li>
                                        <input type="checkbox" id="{{ project.data.translationKey }}" name="project" value="{{ project.data.translationKey }}" data-filter-key="projects"/>
                                        <label for="{{ project.data.translationKey }}">{{ project.data.title }}</label>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </inclusive-disclosure>
            </fieldset>
        {% endif %}
        {% if filterableOptions.language | length > 1 %}
            <fieldset>
                <legend class="visually-hidden">{% __ 'language' %}</legend>
                <inclusive-disclosure>
                    <button aria-controls="language">{% __ 'language' %}</button>
                    <div id="language">
                        <ul id="filter-language">
                            {% for value in filterableOptions.language %}
                                <li>
                                    <input type="checkbox" id="language-{{ value }}" name="language" value="{{ value }}" data-filter-key="language"/>
                                    <label for="language-{{ value }}">{{ supportedLanguages[value].name }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </inclusive-disclosure>
            </fieldset>
        {% endif %}
        {% if filterableOptions.publishers | length > 1 %}
            <fieldset>
                <legend class="visually-hidden">{% __ 'publisher' %}</legend>
                <inclusive-disclosure>
                    <button aria-controls="publisher">{% __ 'publisher' %}</button>
                    <div id="publisher">
                        <ul id="filter-publisher">
                            {% for value in filterableOptions.publishers %}
                                <li>
                                    <input type="checkbox" id="publisher-{{ value | slugify }}" name="publisher" value="{{ value }}" data-filter-key="publisher"/>
                                    <label for="publisher-{{ value | slugify }}">{{ value }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </inclusive-disclosure>
            </fieldset>
        {% endif %}
    </div>
</div>
