<nav class="navigation" aria-label="{% __ 'main-menu' %}">
    <div class="navigation__wrapper">
        <div class="navigation__brand">
            <a rel="home" href="/{% if lang != 'en' %}{{ lang }}{% endif %}">
                {% __ "site-title" %}
            </a>
            <button class="borderless" id="navigation-toggle" aria-expanded="false">{% __ 'menu' %} {% include 'svg/menu.svg' %} {% include 'svg/menu-close.svg' %} </button>
        </div>
        <div class="navigation__menu" id="navigation-menu">
            {% set navItems = collections['pages_' + lang] | eleventyNavigation %}
            <ul>
                {% for item in navItems %}
                <li>
                    <a class="navigation__link" href="{{ item.url }}"{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
