<header data-pagefind-ignore>
    <div class="skip-container">
    <div class="wrapper">
        <a class="skip" href="#main">{% __ 'skip-to-content' %}</a>
    </div>
    </div>
    <div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
        <div class="fl-panelBar fl-panelBar-smallScreen" id="Editorspace">
            <span class="fl-prefsEditor-buttons">
                <button class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
                <button class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
            </span>
        </div>
        <div class="flc-slidingPanel-panel"></div>
        <div class="fl-panelBar fl-panelBar-wideScreen">
            <div class="wrapper">
                <span class="fl-prefsEditor-buttons">
                    <button class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
                    <button class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
                </span>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="wrapper">
            <div class="header__intro">
                <span class="lg-hidden">{% __ 'header-intro-short' | safe %}</span>
                <span class="lg-block">{% __ 'header-intro' | safe %}</span>
            </div>
            {% if page | findTranslationKey(collections.all, lang, 'en') and page | findTranslationKey(collections.all, lang, 'fr') -%}
            <div class="header__settings">
                <ul class="header__language" role="list">
                    <li>
                        <a href="{{ page | findTranslationKey(collections.all, lang, 'en') }}" lang="en-CA" hreflang="en-CA"{% if lang == 'en' %} aria-current="page"{% endif %}><span class="lg-hidden">EN</span><span class="lg-inline">English</span></a>
                    </li>
                    <li>
                        <a href="{{ page | findTranslationKey(collections.all, lang, 'fr') }}" lang="fr-CA" hreflang="fr-CA"{% if lang == 'fr' %} aria-current="page"{% endif %}><span class="lg-hidden">FR</span><span class="lg-inline">Français</span></a>
                    </li>
                </ul>
            </div>
            {%- endif %}
        </div>
    </div>
</header>
