{% extends "layouts/base.njk" %}

{% block content %}
<section class="bg-indigo-200">
    <div class="wrapper flow">
    {{ content | safe }}
    </div>
</section>
{% if collections['projects_' + lang].length > 0 %}
    <section class="bg-indigo-700">
      <div class="wrapper flow">
        <h2>{% __ 'projects' %}</h2>
        <div class="cards">
          {% for project in collections['projects_' + lang] %}
            {% include "partials/components/card--project.njk" %}
          {% endfor %}
        </div>
        </div>
      </div>
    </section>
{% endif %}
{% endblock %}
