{% extends "layouts/base.njk" %}

{% set pageType = 'action' %}

{% block banner %}
<div class="banner">
    <div class="wrapper">
        <div class="banner__content flow">
            {% set breadcrumbKeys = ['guidelines', 'processes', title] %}
            {% set breadcrumbLinks = [] %}
            {% for breadcrumbKey in breadcrumbKeys %}
                {% if not loop.last %}
                {% set breadcrumb = collections['pages_' + lang] | find('data.translationKey', breadcrumbKey) %}
                {% set linkTitle = breadcrumb.data.shortTitle if breadcrumb.data.shortTitle else breadcrumb.data.title %}
                {% set breadcrumbLinks = breadcrumbLinks.concat({ 'title' : linkTitle, 'url' : breadcrumb.url }) %}
                {% endif %}
                {% if loop.last %}
                    {% set breadcrumbLinks = breadcrumbLinks.concat({ 'title' : title, 'url' : url }) %}
                {% endif %}
            {% endfor %}
            {% include "partials/components/breadcrumb.njk" %}
            <h1 data-pagefind-meta="title" data-pagefind-filter="type:action">{{ title }}</h1>
            <div class="action-processes {{ 'only-two' if processes | length == 2 }}">
                {% __ 'actions-for' %}
            {% for processId in processes %}
                {% if processes | length > 1 %}
                {{ 'and' if loop.last }}
                {% endif %}
                {% set process = collections['processes_' + lang] | find('data.uuid', processId) %}
                <span>{% include '../../assets/images/' + process.data.translationKey + '.svg' %}
                <a href="{{ process.url }}">{{ process.data.title }}</a></span>
                {% if processes | length > 2 %}
                {{ ',' if not loop.last }}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% set targetBarriers = [] %}
{% for uuid in barriers %}
    {% set targetBarriers = targetBarriers.concat(collections['barriers_' + lang] | find('data.uuid', uuid)) %}
{% endfor %}
<nav aria-labelledby="strategy-menu" class="flow sidebar-menu">
    <inclusive-disclosure>
        <button aria-controls="{{ title | slugify }}-menu">
            <h2 class="h3" id="action-menu">{% __ 'toc' %}</h2>
        </button>
        <div content id="{{ title | slugify }}-menu">
            <ul role="list" class="flow">
                <li class="flow" id="toc">
                        <h3>{% __ 'toc' %}</h3>
                    <ul role="list" class="flow">
                    </ul>
                </li>
            </ul>
        </div>
    </inclusive-disclosure>
</nav>
<article class="flow" data-pagefind-body>
{% if quick %}
    <h2>{% include "svg/quick-actions.svg" %}{% __ 'actions-quick' %}</h2>
    {{ quick | markdown | safe }}
{% endif %}
{% if longterm %}
    <h2>{% include "svg/longterm-actions.svg" %}{% __ 'actions-longterm' %}</h2>
    {{ longterm | markdown | safe }}
{% endif %}
{% if relatedActions | length > 0 %}
    <h2>{% include "svg/related-actions.svg" %}{% __ 'actions-related-actions' %}</h2>
    <ul>
    {% for actionId in relatedActions %}
        {% set action = collections['actions_' + lang] | find('data.uuid', actionId) %}
        <li><a href="{{ action.url }}">{{ action.data.title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% if moreInformation %}
    <h2>{% include "svg/more-information.svg" %}{% __ 'actions-more-info' %}</h2>
    {{ moreInformation | markdown | safe }}
{% endif %}
{% if examples %}
    <h2>{% include "svg/examples.svg" %}{% __ 'actions-examples' %}</h2>
    {{ examples | markdown | safe }}
{% endif %}
{% if barriers | length > 0 %}
<h2>{% include "svg/barriers.svg" %}{% __ 'actions-barriers' %}</h2>
{% for barrier in targetBarriers %}
    {% include "partials/components/card--barrier.njk" %}
{% endfor %}
{% endif %}
</article>
{% endblock %}
