<!DOCTYPE html>
<html lang="{{ lang if lang else defaultLanguage }}-CA" dir="ltr">
<head>
  {% include 'partials/global/meta.njk' %}
  <title>{{ title }}</title>
  {% include "partials/global/stylesheets.njk" %}
  {% include "partials/global/scripts.njk" %}
  {% include "svg/filters.svg" %}
  {% getBundle "fontawesome" %}
</head>
<body>
  {% include "partials/global/header.njk" %}
  {% include "partials/components/navigation.njk" %}
  <main id="main" class="{{ pageType if pageType else 'page' }}" {{ alpineData | safe if alpineData }}>
    {% block banner %}
    <div class="banner">
      <div class="wrapper">
        <div class="banner__content flow">
          {% if translationKey == 'processes' or translationKey == 'barriers' or translationKey == 'ecosystem-map' %}
          {% set breadcrumbKeys = ['guidelines', title] %}
          {% set breadcrumbLinks = [] %}
          {% for breadcrumbKey in breadcrumbKeys %}
          {% if not loop.last %}
          {% set breadcrumb = collections['pages_' + lang] | find('data.translationKey', breadcrumbKey) %}
          {% set linkTitle = breadcrumb.data.shortTitle if breadcrumb.data.shortTitle else breadcrumb.data.title %}
          {% set breadcrumbLinks = breadcrumbLinks.concat({ 'title' : linkTitle, 'url' : breadcrumb.url }) %}
          {% endif %}
          {% if loop.last %}
              {% set breadcrumbLinks = breadcrumbLinks.concat({ 'title' : title, 'url' : url }) %}
          {% endif %}
          {% endfor %}
          {% include "partials/components/breadcrumb.njk" %}
          {% endif %}
          <h1>{{ title }}</h1>
          {% if bannerText %}
          {{ bannerText | renderContent('md') | safe }}
          {% endif %}
        </div>
        {% if bannerImage %}
        <div class="banner__image">
          <img src="{{ bannerImage }}" alt="{{ bannerImageAlt }}" />
        </div>
        {% endif %}
      </div>
    </div>
    {% endblock %}
    <div class="content">
    {% block content %}
    <section>
      <div class="wrapper flow">
      {{ content | safe }}
      </div>
    </section>
    {% endblock %}
    </div>
  </main>
  {% include "partials/global/footer.njk" %}
  {% uioCustomInit lang, supportedLanguages[lang].dir %}
</body>
</html>
