{% extends "layouts/base.njk" %}

{% set pageType = 'project' %}
{% set breadcrumb = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | last %}
{% set color = breadcrumb.color %}

{% block banner %}
<div class="banner" style="--project-color: var(--fl-bgColor, var(--color-{{ color }}))">
    <div class="banner__content">
        <a href="{{ breadcrumb.url }}" >{{ breadcrumb.title }} {% include 'svg/arrowRight.svg' %}</a>
        <h1>{{ title }}</h1>
    </div>
    {% if previewImage and previewImageAlt %}
    <div class="banner__image">
        <img src="{{ previewImage }}" alt="{{ previewImageAlt }}" />
    </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<nav aria-labelledby="project-menu" class="flow sidebar-menu">
    <inclusive-disclosure>
        <button aria-controls="{{ title | slugify }}-menu">
            <h2 id="project-menu">{% __ 'page-menu' %}</h2>
        </button>
        <div content id="{{ title | slugify }}-menu">
            <ul role="list" class="flow">
                <li class="flow" id="toc">
                    <h3>{% __ 'toc' %}</h3>
                    <ul role="list" class="flow"></ul>
                </li>
            </ul>
        </div>
    </inclusive-disclosure>
</nav>
<article class="flow">
{{ content | safe }}
</article>
{% endblock %}
