{% extends "layouts/base.njk" %}

{% set pageType = 'project' %}
{% set relatedResources = collections["resources_" + lang] | find("data.projects", translationKey) %}
{% set hasRelatedResources = relatedResources | length > 0 %}

{% block banner %}
<div class="banner" style="--project-color: var(--fl-bgColor, var(--color-{{ color }}))">
    <div class="banner__content">
        {% set breadcrumbKeys = ['projects', title] %}
        {% set breadcrumbLinks = [] %}
        {% for breadcrumbKey in breadcrumbKeys %}
            {% if not loop.last %}
            {% set breadcrumb = collections['pages_' + lang] | find('data.translationKey', breadcrumbKey) %}
            {% set linkTitle = breadcrumb.data.shortTitle if breadcrumb.data.shortTitle else breadcrumb.data.title %}
            {% set breadcrumbLinks = breadcrumbLinks.concat({ 'title' : linkTitle, 'url' : breadcrumb.url }) %}
            {% endif %}
            {% if loop.last %}
                {% set breadcrumbLinks = breadcrumbLinks.concat({ 'title' : title, 'url' : url }) %}
            {% endif %}
        {% endfor %}
        {% include "partials/components/breadcrumb.njk" %}
        <h1>{{ title }}</h1>
    </div>
    <div class="banner__image">
    {% if previewImage and previewImageAlt %}
        <img src="{{ previewImage }}" alt="{{ previewImageAlt }}" />
    {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<nav aria-labelledby="project-menu" class="flow sidebar-menu">
    <inclusive-disclosure>
        <button aria-controls="{{ title | slugify }}-menu">
            <h2 class="h3" id="project-menu">{% __ 'project-menu' %}</h2>
        </button>
        <div content id="{{ title | slugify }}-menu">
            <ul role="list" class="flow">
                <li class="flow" id="toc">
                    <h3>{% __ 'toc' %}</h3>
                    <ul role="list" class="flow"></ul>
                </li>
                {% set subpages = collections.all | eleventyNavigation(eleventyNavigation.key) %}
                {% if subpages.length > 0 or hasRelatedResources or featuredResources.length > 0 %}
                <li class="flow" id="subpages">
                    <h3>{% __ 'related-material' %}</h3>
                    <ul role="list" class="flow">
                        {% for subpage in subpages %}
                        <li><a href="{{ subpage.url }}">{{ subpage.title }}</a></li>
                        {% endfor %}
                        {% for featuredResourceId in featuredResources %}
                            {% set featuredResource = collections["resources_" + lang] | find("data.translationKey", featuredResourceId) %}
                            {% if featuredResource.data.link and featuredResource.data.link !== '' %}
                            <li><a rel="external" href="{{ featuredResource.data.link }}">{{ featuredResource.data.title }}</a></li>
                            {% else %}
                            <li><a href="{{ featuredResource.url }}">{{ featuredResource.data.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if hasRelatedResources %}
                        <li><a href="/resources/?projects={{ translationKey }}">{%  __ 'resources' %}</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </inclusive-disclosure>
    {% if logo %}
    <div class="logo">
    <img src="{{ logo }}" alt="" />
    </div>
    {% endif %}
</nav>
<article class="flow">
{{ content | safe }}
</article>
{% endblock %}
